<!DOCTYPE html>
<html>
<body>
    <h2>水辺リスクレポート生成</h2>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".csv">
        <button type="submit">CSVを読み込む</button>
    </form>

    <hr>
   {% if error %}<p class="error">{{ error }}</p>{% endif %} 
    {% if options %}
    <form method="POST">
        <select name="selected_idx">
            {% for i in range(options|length) %}
            <option value="{{i}}">{{ options[i] }}</option>
            {% endfor %}
        </select>
        <button type="submit">このデータでPDF生成</button>
    </form>
    {% endif %}
</body>
</html>
